body {
border-top: 10px solid #646464;
color: #8f8f8f;
font: 14px PT Sans;
background-color: #f8f8f8;
margin: 0;
height: 100%;
}

input[type="text"] {
   border: 1px solid #37b34a; //цвет рамки
   border-radius: 10px; //закругление углов (общее)
   -webkit-border-radius: 5px; //закругление углов (Google Chrome)
   -moz-border-radius: 5px; //закругление углов (FireFox)
   -khtml-border-radius: 5px; //закругление углов (Safari)
   background: #626462 !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   height: 24px; // высота на свое усмотрение
   width: 120px; // ширина на свое усмотрение
   color: #37b34a; //цвет шрифта в обычном состоянии
   font-size: 11px; // Размер шрифта
   font-family: Tahoma; // Стиль шрифта
}

select {
   border: 1px solid #37b34a; //цвет рамки
   border-radius: 10px; //закругление углов (общее)
   -webkit-border-radius: 10px; //закругление углов (Google Chrome)
   -moz-border-radius: 5px; //закругление углов (FireFox)
   -khtml-border-radius: 5px; //закругление углов (Safari)
   background: #626462 !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   height: 24px; // высота на свое усмотрение
   width: 1200px; // ширина на свое усмотрение
   color: #37b34a; //цвет шрифта в обычном состоянии
   font-size: 11px; // Размер шрифта
   font-family: Tahoma; // Стиль шрифта
}

textarea {
   border: 1px solid #37b34a; //цвет рамки
   border-radius: 10px; //закругление углов (общее)
   -webkit-border-radius: 5px; //закругление углов (Google Chrome)
   -moz-border-radius: 5px; //закругление углов (FireFox)
   -khtml-border-radius: 5px; //закругление углов (Safari)
   background: #626462 !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   height: 24px; // высота на свое усмотрение
   width: 120px; // ширина на свое усмотрение
   color: #37b34a; //цвет шрифта в обычном состоянии
   font-size: 11px; // Размер шрифта
   font-family: Tahoma; // Стиль шрифта
}

footer {
position: absolute;
bottom: 0;
width: 100%;
background: #646464;
color: #dbdbdb;
font-size: 14px;
}

.container-forms {
display: flex;
justify-content: start;
padding: 11px 10px 10px 100px;
}

.searchB{
position: absolute!important;
right: 0;
top: 0;
padding: 14px 30px;
}

.navbar {
position: relative;
overflow: hidden;
border: 1px solid #296e3c;
background-color: #37b047;
height: 50px;
font-family: PT Sans;
border-radius: 8px 8px 8px 8px;
}

.container{
width: 60%;
margin: 0 auto;
}

.container-white {
position: relative;
border: 1px solid #fff;
background-color: #fff;
font: PT Sans;
height: 80;
}

.container-white-suka {
position: relative;
border: 1px solid #fff;
background-color: #fff;
font: PT Sans;
height: 80;
border-bottom: 10px solid #646464;
}

.navbar-gray {
position: relative;
overflow: hidden;
background-color: #646464;
border: 20px solid #646464;
}

.top-menu li {
display: inline-block;
padding: 10px 30px;
margin: 0;
}

.add-obj-button {
color: white;
background: #37b047;
border: 1px solid #296e3c;
border-radius: 3px 3px 3px 3px;
height: 25px;
width: 175px;
vertical-align: middle;
text-align: center;
}

.a-o-container {
position: absolute!important;
top: 0;
right: 0;
padding: 24px 24px;
}




.button-send {
	
color: white;
background: #37b047;
border: 1px solid #296e3c;
border-radius: 3px 3px 3px 3px;
height: 25px;
width: 175px;
text-align: center;
}

.inline{
 margin: 0 auto;
 position: relative;
 float: left;
 width: 250px;
 height: 250px;
}

.flex-center {
  display: flex;
  justify-content: center;
  position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}